.icon-left-angle {
	font-size: 30px;
	color: black;
	margin-left: 80%;
}

.icon-right-angle {
	font-size: 20px;
	color: black;
}

#back {
	font-size: 30px;
	color: black;
}

.image0 { 
	margin-top: 50px;
	margin-left: 34.5%;
	width: 30.5%;
}

.image1 {
	
}